<%@ page import="java.sql.Connection, java.sql.DriverManager, java.sql.Statement, java.sql.ResultSet" %>
<html lang="en">
<head>
    <title>HONEY</title>
    <link rel="stylesheet" href="s.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .profile-menu {
            position: relative;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: rgb(253, 250, 250);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 10px;
            z-index: 1;
        }

        .dropdown-content a {
            text-decoration: none;
            display: block;
            padding: 8px;
            color: rgb(1, 1, 1);
        }

        .profile-menu:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="images/favicon.ico"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="shop.html">SHOP</a></li>
                    <li><a href="review.html">REVIEWS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                    <li>
                        <!-- Font Awesome Cart Icon -->
                        <a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                    <li class="profile-menu">
                        <!-- Font Awesome User Icon -->
                        <a href="#"><i class="fas fa-user"></i></a>
                        <div class="dropdown-content">
                            <a>Welcome, <%= session.getAttribute("fullname") %></a>
                            <a>Email: <%= session.getAttribute("email") %></a>
                            <a href="login.html">LOG OUT</a>
                        </div>
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="listProduct">
            <% 
            String email = (String) session.getAttribute("email");
            try {
                Class.forName("oracle.jdbc.driver.OracleDriver");
                Connection connection = DriverManager.getConnection("jdbc:oracle:thin:@localhost:1521:XE", "system", "mourya");
                Statement statement = connection.createStatement();
                ResultSet resultSet = statement.executeQuery("SELECT * FROM products1");
                while(resultSet.next()) {
                    int id = resultSet.getInt("PRODUCTID");
                    String name = resultSet.getString("NAME");
                    double price = resultSet.getDouble("PRICE");
                    String imageUrl = resultSet.getString("IMAGE");
            %> 
            <div class="item" id="product<%= id %>">
                <h2><%= name %></h2>
                <img src="<%= imageUrl %>" alt="<%= name %> Image">
                <p class="price">Price: $<%= price %></p>
                <form action="addcart.jsp" method="post">
                    <input type="hidden" name="productId" value="<%= id %>">
                    <input type="number" name="quantity" value="1" min="1"> 
                    <input type="hidden" name="email" value="<%= email %>">
                    <br><br><center>
                    <button class="add-to-cart" onclick="toggleCart('<%= id %>')">Add to Cart</button></center>
                </form>
            </div>
            <% } resultSet.close(); statement.close(); connection.close(); 
            }
             catch (Exception e) {
                e.printStackTrace();
            }
            %>
        </div>
    </section>
</body>
</html>
